<app-navbar></app-navbar>
<div class="container">
    <h1 class="title">Lista de Reservationes</h1>
    <button routerLink="/gampling">Añadir Glamping</button>
    
    <div class="row">
        <div class="col-md-4" *ngFor="let element of glampings">
            <div class="card card_content" style="width: 18rem;" >
                <img src={{element.image}} class="card-img-top" alt="img">
                <div class="card-body">
                    <h4 class="card-title">{{element.name}}</h4>
                    <p>Personas Maximas: {{element.capacity}}</p>
                    <p class="card-text">{{element.description}}</p>
                    <button (click)="booking(element.id)" class="btn btn-primary">Reservar</button>
                </div>
            </div>
        </div>
    </div>
</div>
