.container-list{
    max-width: 1200px;
    margin: 0 auto;

    .btn-glamping-create{
        padding: 12px;
        margin-bottom: 15px;
        margin-left: 40px;
        margin-top: 10px;
        background: linear-gradient(to bottom left, cadetblue 40%, #ff9e9e 100%);
        border: none;
        border-radius: 5px;
        color: white;

        &:hover{
            background: rgba(64, 110, 111, 0.651);
        }
    }
    
    .title{
        font-family: "Josefin Sans", sans-serif;
        font-size: 35px;
        margin-top: 45px;
        padding-bottom: 0.5rem;
        color: white;
        font-weight: 700;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    
    .card_content {
        margin-bottom: 10px;
        background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
        .card_title {
            margin: 0px;
            font-size: 1.1rem;
            font-weight: 700;
            color: #ffffff;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
        
        .card_text {
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;    
            font-weight: 400;
        }
        
        .btn {
            color: #ffffff;
            padding: 0.8rem;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 4px;
            font-weight: 400;
            display: block;
            width: 100%;
            border: 1px solid rgba(7, 7, 7, 0.521);
            cursor: pointer;
            background: rgba(0, 0, 0, 0.235);
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.12);
            }
        }
    }
    .card-img-top{
        height: 40vh;
    }
}
