<app-navbar></app-navbar>
<div class="container-home text-center">
    <div>
      <div class="box-glamping">
        <h1>Glamping Colombia</h1> 
        <p>En este gran espacio encontraras la mayor comodidad y privacidad cerca de Bogotá. Nuestros glamping se encuentran ubicados armoniosamente en medio de un paisaje natural inolvidable. Donde vivirás experiencias increíbles, que despertarán y revitalizarán tus sentidos.</p>
      </div>
      <div class="box-info">
        <h3>Informacion de la empresa</h3>
        <p>Guatavita - Vereda Tominé de indios
            Cundinamarca, Sabana de Bogotá
            Colombia</p>
        <p>Contáctanos: +57 (1) 318 358 9070</p>
        <p>escríbenos a: reservas@glamping-colombia.com</p>
      </div>
    </div>
</div>



